body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ChatContainer {
  height: 80vh;
}

.chat-input {
  position: fixed;
  bottom: 0px;
  height: 10%;
  max-height: 10%;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  width: 100%;
}

.chat-output {
  height: 75%;
  max-height: 75%;
  overflow: auto;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.chat-input-field {
  height: 80%;
  width: 80%;
}

.first-page-wrapper {
  text-align: center;
}
